@(stats:Map[String,Integer],reservations:List[models.Reservation])
@script ={

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="@routes.Assets.versioned("asset/plugins/fullcalendar/fullcalendar.min.js")"></script>
<script type="application/javascript">

    var date = new Date();
    var d = date.getDate(),
        m = date.getMonth(),
        y = date.getFullYear();

    $('#calendar').fullCalendar({
    events: '@routes.ReservationController.reservationForCalendar()',
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      buttonText: {
        today: 'today',
        month: 'month',
        week: 'week',
        day: 'day'
      },
      editable: true,
      droppable: true, // this allows things to be dropped onto the calendar !!!
      drop: function (date, allDay) { // this function is called when something is dropped

        // retrieve the dropped element's stored Event Object
        var originalEventObject = $(this).data('eventObject');

        // we need to copy it, so that multiple events don't have a reference to the same object
        var copiedEventObject = $.extend({}, originalEventObject);

        // assign it the date that was reported
        copiedEventObject.start = date;
        copiedEventObject.allDay = allDay;
        copiedEventObject.backgroundColor = $(this).css("background-color");
        copiedEventObject.borderColor = $(this).css("border-color");

        // render the event on the calendar
        // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
        $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

        // is the "remove after drop" checkbox checked?
        if ($('#drop-remove').is(':checked')) {
          // if so, remove the element from the "Draggable Events" list
          $(this).remove();
        }

      }
    });
</script>
}
@main(Messages("dashboard"), script) {
    <div class="col-lg-3 col-xs-6">
            <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@stats.get("staffs")</h3>

                <p>Staff</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="@routes.UserController.index()" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
            <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@stats.get("customers")</h3>

                <p>Customers</p>
            </div>
            <div class="icon">
                <i class="ion fa fa-users"></i>
            </div>
            <a href="@routes.CustomerController.index()" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>


    <div class="col-lg-3 col-xs-6">
            <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@stats.get("reservations")</h3>

                <p>Reservations</p>
            </div>
            <div class="icon">
                <i class="ion fa fa-list-alt"></i>
            </div>
            <a href="@routes.ReservationController.index()" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>


    <div class="col-lg-3 col-xs-6">
            <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@stats.get("buildings")</h3>

                <p>Properties</p>
            </div>
            <div class="icon">
                <i class=" fa fa-building-o"></i>
            </div>
            <a href="@routes.BuildingController.index()" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-body no-padding">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>


}