@(createForm: Form[models.Building])
    @import views.html.helper.FieldConstructor

    @implicitField = @{
        FieldConstructor(bootstrapInut.render)
    }

    @script = {
        <script type="text/javascript">
        $(document).ready(function(){
            $(".select2").select2();
            @if(createForm.hasGlobalErrors) {
                bootbox.alert("@createForm.globalError.message" );

            }
        });

        </script>
    }


    @main(Messages("newBuilding"), script) {
        <div class="box box-info">
            <div class="box-header with-border">
            </div>

            @helper.form(controllers.routes.BuildingController.save(), 'class -> "form-horizontal", 'role -> "form") {

                @helper.inputText(
                    createForm("buildingName"),
                    '_label -> "Name",
                    'class -> "form-control",
                    'required -> ""
                )

                @helper.inputText(
                    createForm("buildingAddress"),
                    '_label -> "Address ",
                    'class -> "form-control"
                )

                <div class="form-group">
                    <div class="col-sm-10 col-sm-push-2">
                        <input type="submit" value="Create" class="btn btn-primary"/>
                    </div>
                </div>
            }

            }
</div>