@()

@script = {


    <script type="text/javascript">


            $(document).ready(function () {


                var oTable = $('#building_table').dataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": "@routes.BuildingController.dataTable()",
                    "columnDefs": [
                        {

                            "render": function ( data, type, row ) {
                                return "<a class = 'btn btn-primary  btn-small btn-xs  btn-dataTable' href =@routes.BuildingController.edit(0).toString.replace("0", "")" +row[0]+ "><i class='fa fa-pencil'></i></a>".concat(
                                "<a class = 'btn btn-primary btn-small btn-xs btn-dataTable' href =@routes.BuildingController.view(0).toString.replace("0", "")" +row[0]+ "><i class='fa fa-eye'></i></a>"
                                );
                            },
                            "targets": 3
                        },
                        {
                            "targets": [ 0 ],
                "visible": false,
                "searchable": false
                        }


                    ]
                })
                .yadcf([
                        {column_number : 0,  filter_type: "text"},
                        {column_number : 1,  filter_type: "text"},
                        {column_number : 2,  filter_type: "text"}
                        ]
                );

                $(".yadcf-filter").each( function( index, el ) {
                    $( el ).addClass( "form-control" );
                    $( el ).addClass( "myyacdf-text" );
                });

	            $(".yadcf-filter-reset-button").each( function( index, el ) {
                    $( el ).addClass( "btn btn-danger" );
                    $( el ).addClass( "myyacdf-btn" );
                });

                $("#building_table_filter").hide();

            });
                </script>
}

@main(Messages("buildings"), script) {



    <div class="col-md-12">
        <div class="box box-primary">

        <a href="@routes.BuildingController.create()" class="btn btn-dark"><i class="fa fa-plus"></i> Add</a>

        <table id="building_table" class="table table-striped table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr class="headings">

                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th class=" no-link last"><span class="nobr">Action</span>
                    </th>
                </tr>
            </thead>


            <tbody>

            </tbody>
        </table>

    </div>

    </div>


}