@(building: models.Building)

    @script = {
        <script type="text/javascript">


        </script>
    }


    @main(Messages("viewBuilding"), script) {
        <div class="box box-info">
            <div class="box-header with-border">
            </div>


        </div>
}
