@(createForm: Form[models.forms.UserCreationForm], roles: List[models.Role])
    @import views.html.helper.FieldConstructor

    @implicitField = @{
        FieldConstructor(bootstrapInut.render)
    }

    @script = {
        <script type="text/javascript">
        $(document).ready(function(){
            $(".select2").select2();
            @if(createForm.hasGlobalErrors) {
                bootbox.alert('@createForm.globalError.message');

            }
        });

        </script>
    }


    @main(Messages("newUser"), script) {
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Horizontal Form</h3>
            </div>

            @helper.form(controllers.routes.UserController.save(), 'class -> "form-horizontal", 'role -> "form") {

                @helper.inputText(
                    createForm("username"),
                    '_label -> "Username",
                    'class -> "form-control",
                    'required -> ""
                )

                @helper.inputText(
                    createForm("password"),
                    '_label -> "Password ",
                    'class -> "form-control",
                    'required -> ""
                )

                @helper.select(
                    createForm("roles"),
                    options = roles.map(role => String.valueOf(role.id) -> role.roleName.name.concat(" - ".concat(role.roleDescription))),
                    '_label -> "Roles",
                    'class -> "form-control select2",
                    'required -> "",
                    'multiple -> ""
                )

                <div class="form-group">
                    <div class="col-sm-10 col-sm-push-2">
                        <input type="submit" value="Create" class="btn btn-primary"/>
                    </div>
                </div>
            }
        </div>
            }
