@(editForm: Form[models.forms.UserCreationForm], roles: List[models.Role])
    @import views.html.helper.FieldConstructor

    @implicitField = @{
        FieldConstructor(bootstrapInut.render)
    }

    @script = {
        <script type="text/javascript">
        $(document).ready(function(){
            $(".select2").select2();
            @if(editForm.hasGlobalErrors) {
                bootbox.alert('@editForm.globalError.message');

                }
        });

        </script>
    }


    @main("Edit User", script) {
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Edit User</h3>
            </div>

            @helper.form(controllers.routes.UserController.update(), 'class -> "form-horizontal", 'role -> "form") {


                @helper.inputText(
                    editForm("id"),
                    '_label -> "ID",
                    'class -> "form-control",
                    'hideIt -> "",
                    'type -> "hidden",
                    'required -> ""
                )
                @helper.inputText(
                    editForm("username"),
                    '_label -> "Username",
                    'class -> "form-control",
                    'required -> ""
                )

                @helper.inputText(
                    editForm("firstName"),
                    '_label -> "First Name ",
                    'class -> "form-control"

                )

                @helper.inputText(
                    editForm("middleName"),
                    '_label -> "Middle Name ",
                    'class -> "form-control"

                )

                @helper.inputText(
                    editForm("lastName"),
                    '_label -> "Last Name ",
                    'class -> "form-control"

                )

                @helper.inputText(
                    editForm("staffNumber"),
                    '_label -> "Staff Number ",
                    'class -> "form-control"

                )

                @helper.inputText(
                    editForm("phoneNumber"),
                    '_label -> "Phone Number ",
                    'class -> "form-control"

                )


                <div class="form-group">

                    <label for="roles" class="col-sm-2 control-label">Roles<span class="required">*</span></label>


                    <div class="col-sm-10">
                        <select name="roles[]" class="form-control select2" multiple>
                        @for(r <- roles) {
                            <option value="@r.id"
                            @if(editForm.get.roles != null && editForm.get.roles.contains(r.id)) {
                                selected
                            }
                            >@r.roleName.name.concat(" - ".concat(r.roleDescription)) </option>
                        }

                        </select>

                    </div>

                </div>



                <div class="form-group">
                    <div class="col-sm-10 col-sm-push-2">
                        <input type="submit" value="Update" class="btn btn-primary"/>
                    </div>
                </div>
            }

            }
</div>