@()

@script = {


    <script type="text/javascript">


            $(document).ready(function () {


                var oTable = $('#user_table').dataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": "@routes.UserController.dataTable()",
                    //"order": [[ 1, "asc" ]],
                    "columnDefs": [
                        {

                            "render": function ( data, type, row ) {
                                return "<a class = 'btn btn-primary  btn-small btn-xs  btn-dataTable' href =@routes.UserController.edit(0).toString.replace("0", "")" +row[7]+ "><i class='fa fa-pencil'></i></a>".concat(
                                "<a class = 'btn btn-primary btn-small btn-xs btn-dataTable' href =@routes.UserController.view(0).toString.replace("0", "")" +row[7]+ "><i class='fa fa-eye'></i></a>"
                                );
                            },
                            "targets": 7
                        }


                    ]
                })
                .yadcf([
                        {column_number : 0,  filter_type: "text"},
                        {column_number : 1,  filter_type: "text"},
                        {column_number : 2,  filter_type: "text"},
                        {column_number : 3,  filter_type: "text"},
                        {column_number : 4,  filter_type: "text"},
                        {column_number : 5,  filter_type: "text"},
                        {column_number : 6,  filter_type: "text"}
                        ]
                );

                $(".yadcf-filter").each( function( index, el ) {
                    $( el ).addClass( "form-control" );
                    $( el ).addClass( "myyacdf-text" );
                });

	            $(".yadcf-filter-reset-button").each( function( index, el ) {
                    $( el ).addClass( "btn btn-danger" );
                    $( el ).addClass( "myyacdf-btn" );
                });

                $("#user_table_filter").hide();

            });
                </script>
}

@main(Messages("users"), script) {

<div class="col-md-12">
    <div class="box box-primary">


        <a href="@routes.UserController.create()" class="btn btn-dark"><i class="fa fa-plus"></i> Add</a>

        <table id="user_table" class="table table-striped table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr class="headings">

                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Staff Number</th>
                    <th>Username</th>
                    <th>Enabled</th>
                    <th class=" no-link last"><span class="nobr">Action</span>
                    </th>
                </tr>
            </thead>


            <tbody>

            </tbody>
        </table>

    </div>
</div>

}