@(user: models.User, roles:List[models.Role])

@script = {


    <script type="text/javascript">


            $(document).ready(function () {


                var oTable = $('#login_history_table').dataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": "@routes.AuditController.loginAudit(user.id)",
                    "columnDefs": [

                        {
                            "targets": [ 3],
                            "visible": false,
                            "searchable": false
                        }


                    ]
                })
                        .yadcf([
                                    {column_number : 0,  filter_type: "text"},
                                    {column_number : 1,  filter_type: "text"},
                                    {column_number : 2,  filter_type: "text"}
                                ]
                        );

                $(".yadcf-filter").each( function( index, el ) {
                    $( el ).addClass( "form-control" );
                    $( el ).addClass( "myyacdf-text" );
                });

                $(".yadcf-filter-reset-button").each( function( index, el ) {
                    $( el ).addClass( "btn btn-danger" );
                    $( el ).addClass( "myyacdf-btn" );
                });

                $("#login_history_table_filter").hide();


                var oTableReservation = $('#reservation_table').dataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": "@routes.ReservationController.dataTable()",
                    //"order": [[ 1, "asc" ]],
                    "columnDefs": [
                        {

                            "render": function ( data, type, row ) {
                                return "<a class = 'btn btn-primary  btn-small btn-xs  btn-dataTable' href =@routes.ReservationController.edit(0).toString.replace("0", "")" +row[10]+ "><i class='fa fa-pencil'></i></a>".concat(
                                "<a class = 'btn btn-primary btn-small btn-xs btn-dataTable' href =@routes.ReservationController.view(0).toString.replace("0", "")" +row[10]+ "><i class='fa fa-eye'></i></a>"
                                );
                            },
                            "targets": 10
                        },
                        {
                            "targets": [ 4,6,9 ],
                "visible": false,
                "searchable": false
                        }


                    ]
                })
                .yadcf([
                        {column_number : 0,  filter_type: "text"},
                        {column_number : 1,  filter_type: "text"},
                        {column_number : 2,  filter_type: "text"},
                        {column_number : 3,  filter_type: "text"},
                        {column_number : 4,  filter_type: "text"},
                        {column_number : 5,  filter_type: "text"},
                        {column_number : 6,  filter_type: "text"},
                        {column_number : 7,  filter_type: "text"},
                        {column_number : 8,  filter_type: "text"},
                        {column_number : 9,  filter_type: "text"}
                        ]
                );

                $(".yadcf-filter").each( function( index, el ) {
                    $( el ).addClass( "form-control" );
                    $( el ).addClass( "myyacdf-text" );
                });

	            $(".yadcf-filter-reset-button").each( function( index, el ) {
                    $( el ).addClass( "btn btn-danger" );
                    $( el ).addClass( "myyacdf-btn" );
                });

                $("#reservation_table_filter").hide();

                $("#updateRoles").click(function(e){

                    var checked = [];
                    $("input[name='roles[]']:checked").each(function ()
                    {
                        checked.push(parseInt($(this).val()));
                    });

                    $.post("@routes.UserController.update")
                });

            });
    </script>
}


@main(Messages("viewUser"), script) {
    <div class="box box-info">
        <div class="box-header with-border">
        </div>


        <div class="row">
            <div class="col-md-12">
                    <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">User Info</a></li>
                        <li><a href="#tab_2" data-toggle="tab">Login History</a></li>
                        <li><a href="#tab_3" data-toggle="tab">Reservations</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <h3>User Details</h3>
                            <table class="table table-hover">
                                <tr>
                                    <td>First Name</td>
                                    <td>@Option(user.firstName).getOrElse("")</td>
                                </tr>

                                <tr>
                                    <td>Middle Name</td>
                                    <td>@Option(user.middleName).getOrElse("")</td>
                                </tr>

                                <tr>
                                    <td>Last Name</td>
                                    <td>@Option(user.lastName).getOrElse("")</td>
                                </tr>

                                <tr>
                                    <td>Phone Number</td>
                                    <td>@Option(user.phoneNumber).getOrElse("")</td>
                                </tr>

                                <tr>
                                    <td>Staff Number</td>
                                    <td>@Option(user.staffNumber).getOrElse("")</td>
                                </tr>

                                <tr>
                                    <td>Username</td>
                                    <td>@Option(user.username).getOrElse("")</td>
                                </tr>

                                <tr>
                                    <td>Enabled</td>
                                    <td>@Option(user.isEnabled).getOrElse(false)</td>
                                </tr>

                            </table>

                            <h3>Roles</h3>
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <td>
                                        Role
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>
                                @for(role<-roles){
                                    <tr>
                                        <td>@role.roleDescription</td>
                                        <td><input name="roles[]" value="@role.id" type="checkbox" @if(user.roles.contains(role)){checked=""} /> </td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="2"><input class="btn btn-primary" type="button" value="Update Roles" id="updateRoles"> </td>
                                </tr>

                            </table>
                        </div>
                            <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_2">
                            <table id="login_history_table" class="table table-striped table-bordered" width="100%" cellspacing="0">
                                <thead>
                                    <tr class="headings">

                                        <th>Event</th>
                                        <th>Date</th>
                                        <th>IP Address</th>
                                        <th>ID</th>

                                    </tr>
                                </thead>


                                <tbody>

                                </tbody>
                            </table>
                        </div>
                            <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_3">
                            <table id="reservation_table" class="table table-striped table-bordered" width="100%" cellspacing="0">
                                <thead>
                                    <tr class="headings">

                                        <th>First Name</th>
                                        <th>Middle Name</th>
                                        <th>Last Name</th>
                                        <th>Phone Number</th>
                                        <th>Customer ID</th>
                                        <th>Building Name</th>
                                        <th>Building ID</th>
                                        <th>Check In Date</th>
                                        <th>Check Out Date</th>
                                        <th>Reservation ID</th>
                                        <th class=" no-link last"><span class="nobr">Action</span>
                                        </th>
                                    </tr>
                                </thead>


                                <tbody>

                                </tbody>
                            </table>
                        </div>
                            <!-- /.tab-pane -->
                    </div>
                        <!-- /.tab-content -->
                </div>
                    <!-- nav-tabs-custom -->
            </div>

        </div>
    </div>
}
