@(elements: helper.FieldElements)


<div class="form-group">
    @if(!elements.args.contains('hideIt)) {
        <label for="@elements.label" class="col-sm-2 control-label">


            @elements.label @if(elements.args.contains('required)) {
            <span class="required">*</span>
        }
        </label>
    }

<div class="col-sm-10">
    @elements.input
    <sapn class="errors_boot">@elements.errors.mkString(", ")</sapn>
</div>

</div>