

@flash.map{
    case (key, value) => {
        <div class="alert alert-@key alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            @value
        </div>
    }
}