@(editForm: Form[models.Customer])
    @import views.html.helper.FieldConstructor

    @implicitField = @{
        FieldConstructor(bootstrapInut.render)
    }

    @script = {
        <script type="text/javascript">
        $(document).ready(function(){
            $(".select2").select2();
            @if(editForm.hasGlobalErrors) {
                bootbox.alert("@editForm.globalError.message" );

            }
        });

        </script>
    }


    @main(Messages("newBuilding"), script) {
        <div class="box box-info">
            <div class="box-header with-border">
            </div>

            @helper.form(controllers.routes.CustomerController.update(), 'class -> "form-horizontal", 'role -> "form") {

                @helper.inputText(
                    editForm("id"),
                    '_label -> "ID",
                    'class -> "form-control",
                    'hideIt -> "",
                    'type -> "hidden",
                    'required -> ""
                )

                @helper.inputText(
                    editForm("firstName"),
                    '_label -> "First Name",
                    'class -> "form-control",
                    'required -> ""
                )

                @helper.inputText(
                    editForm("middleName"),
                    '_label -> "Address ",
                    'class -> "form-control"
                )

                @helper.inputText(
                    editForm("lastName"),
                    '_label -> "Last Name",
                    'class -> "form-control",
                    'required -> ""
                )

                @helper.inputText(
                    editForm("phoneNumber"),
                    '_label -> "Phone Number",
                    'class -> "form-control",
                    'required -> ""
                )

                @helper.inputText(
                    editForm("email"),
                    '_label -> "Email",
                    'class -> "form-control",
                    'required -> "",
                    'type->"email"
                )

                <div class="form-group">
                    <div class="col-sm-10 col-sm-push-2">
                        <input type="submit" value="Update" class="btn btn-primary"/>
                    </div>
                </div>
            }
        </div>

            }
