@(createForm: Form[models.forms.ReservationForm] , customers: List[models.Customer], buildings: List[models.Building])
@import views.html.helper.FieldConstructor

@implicitField = @{
    FieldConstructor(bootstrapInut.render)
}

@script = {
    <script type="text/javascript">
        $(document).ready(function(){
            $(".select2").select2();
            @if(createForm.hasGlobalErrors) {
            console.log("@createForm.globalError.message()");
                bootbox.alert( "@createForm.globalError.message()"  );

            }


//                $('#startDate').datepicker({
//                    autoclose: true
//                });

//                  $('#endDate').datepicker({
//                    autoclose: true
//                });

        });

        </script>
}


@main(Messages("newRental"), script) {
    <div class="box box-info">
        <div class="box-header with-border">
        </div>

        @helper.form(controllers.routes.ReservationController.save(), 'class -> "form-horizontal", 'role -> "form") {

            @helper.select(
                createForm("customerID"),
                options = customers.map(c => String.valueOf(c.id) -> c.display()),
                '_label -> "Customer",
                'class -> "form-control select2",
                'required -> ""
            )

            @helper.select(
                createForm("buildingID"),
                options = buildings.map(b=>String.valueOf(b.id)->b.buildingName),
                '_label -> "Customer",
                'class -> "form-control select2",
                'required -> ""
            )

            @helper.inputDate(
             createForm("startDate"),
                '_label -> "Check In",
                'class -> "form-control",
                Symbol("data-date-format") -> "yyyy-MM-dd",
                'required -> ""
            )



            @helper.inputDate(
                createForm("endDate"),
                '_label -> "Check Out",
                'class -> "form-control",
                Symbol("data-date-format") -> "yyyy-MM-dd",
                'required -> ""
            )

            <div class="form-group">
                <div class="col-sm-10 col-sm-push-2">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
            </div>
        }
    </div>
}
