@(editForm: Form[models.forms.ReservationForm], customers: List[models.Customer], buildings: List[models.Building])
    @import views.html.helper.FieldConstructor

    @implicitField = @{
        FieldConstructor(bootstrapInut.render)
    }

    @script = {
        <script type="text/javascript">
        $(document).ready(function(){
            $(".select2").select2();
            @if(editForm.hasGlobalErrors) {
                bootbox.alert("@editForm.globalError.message" );

            }
        });

        </script>
    }


@main(Messages("editReservation"), script) {
    <div class="box box-info">
        <div class="box-header with-border">
        </div>

        @helper.form(controllers.routes.ReservationController.save(), 'class -> "form-horizontal", 'role -> "form") {

            @helper.select(
                editForm("customerID"),
                options = customers.map(c => String.valueOf(c.id) -> c.display()),
                '_label -> "Customer",
                'class -> "form-control select2",
                'required -> ""
            )

            @helper.select(
                editForm("buildingID"),
                options = buildings.map(b=>String.valueOf(b.id)->b.buildingName),
                '_label -> "Customer",
                'class -> "form-control select2",
                'required -> ""
            )

            @helper.inputDate(
                editForm("startDate"),
                '_label -> "Check In",
                'class -> "form-control",
                Symbol("data-date-format") -> "yyyy-MM-dd",
                'required -> ""
            )


            @helper.inputDate(
                editForm("endDate"),
                '_label -> "Check Out",
                'class -> "form-control",
                Symbol("data-date-format") -> "yyyy-MM-dd",
                'required -> ""
            )


            <div class="form-group">
                <div class="col-sm-10 col-sm-push-2">
                    <input type="submit" value="Update" class="btn btn-primary"/>
                </div>
            </div>
        }
    </div>
}