@()

@script = {


    <script type="text/javascript">


            $(document).ready(function () {


                var oTable = $('#reservation_table').dataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": "@routes.ReservationController.dataTable()",
                    //"order": [[ 1, "asc" ]],
                    "columnDefs": [
                        {

                            "render": function ( data, type, row ) {
                                return "<a class = 'btn btn-primary  btn-small btn-xs  btn-dataTable' href =@routes.ReservationController.edit(0).toString.replace("0", "")" +row[10]+ "><i class='fa fa-pencil'></i></a>".concat(
                                "<a class = 'btn btn-primary btn-small btn-xs btn-dataTable' href =@routes.ReservationController.view(0).toString.replace("0", "")" +row[10]+ "><i class='fa fa-eye'></i></a>"
                                );
                            },
                            "targets": 10
                        },
                        {
                            "targets": [ 4,6,9 ],
                "visible": false,
                "searchable": false
                        }


                    ]
                })
                .yadcf([
                        {column_number : 0,  filter_type: "text"},
                        {column_number : 1,  filter_type: "text"},
                        {column_number : 2,  filter_type: "text"},
                        {column_number : 3,  filter_type: "text"},
                        {column_number : 4,  filter_type: "text"},
                        {column_number : 5,  filter_type: "text"},
                        {column_number : 6,  filter_type: "text"},
                        {column_number : 7,  filter_type: "text"},
                        {column_number : 8,  filter_type: "text"},
                        {column_number : 9,  filter_type: "text"}
                        ]
                );

                $(".yadcf-filter").each( function( index, el ) {
                    $( el ).addClass( "form-control" );
                    $( el ).addClass( "myyacdf-text" );
                });

	            $(".yadcf-filter-reset-button").each( function( index, el ) {
                    $( el ).addClass( "btn btn-danger" );
                    $( el ).addClass( "myyacdf-btn" );
                });

                $("#reservation_table_filter").hide();

            });
                </script>
}

@main(Messages("reservations"), script) {


    <div class="col-md-12">
        <div class="box box-primary">

        <a href="@routes.ReservationController.create()" class="btn btn-dark"><i class="fa fa-plus"></i> Add</a>

        <table id="reservation_table" class="table table-striped table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr class="headings">

                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Customer ID</th>
                    <th>Building Name</th>
                    <th>Building ID</th>
                    <th>Check In Date</th>
                    <th>Check Out Date</th>
                    <th>Reservation ID</th>
                    <th class=" no-link last"><span class="nobr">Action</span>
                    </th>
                </tr>
            </thead>


            <tbody>

            </tbody>
        </table>

    </div>
    </div>


}